<p id="notice"><%= notice %></p>

<p>
  <strong>Relation:</strong>
  <%= @relationship.relation %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
