<p id="notice"><%= notice %></p>

<p>
  <strong>Membership fees status:</strong>
  <%= @membership_fee.membership_fees_status %>
</p>

<%= link_to 'Edit', edit_membership_fee_path(@membership_fee) %> |
<%= link_to 'Back', membership_fees_path %>
