<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PAGH</title>
  <link rel="stylesheet" href="home.css">
</head>

<body>
<div class="box-area">
  <header>
    <div class="wrapper1">

      <div class="logo">
        <a href="#">PAKISTAN ASSOCITATION OF GREATER HOUSTON </a>

      </div>

      <nav>
        <a href="admin/login">LOGIN</a>
      </nav>

    </div>
  </header>
  <div class="banner-area">

  </div>
  <div class="content-area">
    <div class="wrapper1">
      <h1>WWW.PAGH.ORG</h1>
      <p align="center"> WELCOME TO THE PAGH MEMBERS PORTAL</p>
    </div>

    <div class="body2">
    <div class="wrapper">

      <div class="wrap">
          <h3 class="start"> UNITY.        DISCIPLINE.        FAITH. </h3>
        <div class="btn-big Red">
          <div id="para1"></div>
          <i class="fas fa-envelope fa-2x"></i>
          <span class="label bottom">MAIL</span>
        </div>

        <div class="btn-big Blue">
          <i class="fas fa-calendar-alt fa-2x"></i>
          <span class="label bottom">CALENDAR</span>
        </div>

        <div class="btn-small Orange">
          <i class="fas fa-store fa-2x"></i>
          <span class="label bottom">Store</span>
        </div>

        <div class="btn-big Blue">
          <i class="fas fa-user fa-2x"></i>
          <span class="label bottom">USER</span>
        </div>

        <div class="btn-small Green last">
          <i class="far fa-clock"></i>
          <span class="label bottom">APPLICATION</span>
        </div>

        <div class="btn-small Red-light">
          <i class="fas fa-wrench fa-2x"></i>
          <span class="label bottom">SETTINGS</span>
        </div>

        <div class="btn-big Photo">
          <i class="fas fa-camera fa-2x"></i>
          <span class="label bottom">PHOTOS</span>
        </div>

        <div class="btn-big Purp">
          <i class="fab fa-youtube fa-2x"></i>
          <span class="label bottom">VIDEO</span>
        </div>

        <div class="btn-big Grey">
          <i class="fas fa-music fa-2x"></i>
          <span class="label bottom">MUSIC</span>
        </div>

        <div class="btn-small Green-bright-last">
          <i class="fas fa-gamepad fa-2x"></i>
          <span class="label bottom">GAMES</span>
        </div>

        <div class="btn-small Blue">
          <i class="fab fa-twitter fa-2x"></i>
          <span class="label bottom">TWITTER</span>
        </div>

        <div class="btn-small Red-light">
          <i class="fab fa-google fa-2x"></i>
          <span class="label bottom">GOOGLE</span>
        </div>

        <div class="btn-small Blue-nav">
          <i class="fab fa-facebook-f fa-2x"></i>
          <span class="label bottom">FACEBOOK</span>
        </div>

        <div class="btn-small Redish">
          <i class="fab fa-skype fa-2x"></i>
          <span class="label bottom">SKYPE</span>
        </div>

        <div class="btn-big Yellow">
          <i class="fas fa-sign-in-alt"></i>
          <span class="label bottom">LOGIN</span>
        </div>

      </div>
    </div>

    </div>

































  </div>
</div>
</body>
</html>