<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>PAGH</title>
  <link rel="stylesheet" href="home.css">
</head>

<body>
<div class="box-area">
  <header>
    <div class="wrapper1">

      <div class="logo">
        <a href="https://pagh.org/">PAKISTAN ASSOCIATION OF GREATER HOUSTON </a>

      </div>

      <nav class="btn-loginHeader">
        <a href="admin/login">LOGIN</a>
      </nav>

    </div>


  </header>
  <div class="banner-area">

  </div>
  <div class="content-area">
    <div class="wrapper1">
      <h1>WWW.PAGH.ORG</h1>
      <p align="center"> WELCOME TO THE PAGH MEMBERS PORTAL</p>
    </div>

    <div class="body2">
    <div class="wrapper">

      <div class="wrap">
          <h3 class="start"> UNITY.        DISCIPLINE.        FAITH. </h3>

        <div class="btn-big Red">
          <a href="https://time.is/Houston" id="time_is_link" rel="nofollow" style="font-size:13px;color:white"></a>
          <span id="Houston_z123" style="font-size:16px;color:white"></span>
          <script src="//widget.time.is/en.js"></script>
          <script>
              time_is_widget.init({Houston_z123:{template:"DATE", date_format:"dayname, monthname dnum, year"}});
          </script>
          <span class="label top">TODAY'S DATE </span>
        </div>

        <div class="btn-big Blue2" >
          <div class="time-wrapper">
          <iframe src="http://free.timeanddate.com/clock/i7hnr9rp/n104/fn16/fs26/fcfff/tct/pct/ftb/ts1/ta1" frameborder="0" width="197" height="32" allowTransparency="true"></iframe>
          </div>

          <span class="label top">THE TIME IS</span>
        </div>

        <div class="btn-small Orange">
          <i class="fas fa-store fa-2x"></i>
          <span class="label bottom"><a href="https://www.google.com/">GOOGLE</a></span>
        </div>


        <div class="btn-big Photo">
          <span class="label bottom">Minar-e-Pakistan</span>
        </div>

        <div class="btn-big Purp">
          <i class="fab fa-youtube fa-2x"></i>
          <span class="label bottom"><a href="https://pagh.org/membership/">MEMBERSHIP SIGN-UP</a></span>
        </div>

        <div class="btn-big Grey">
          
          <span class="label bottom"><a href="https://www.youtube.com/channel/UC5jvRJpOo8ww2W9cdQLG_Zw/featured">Youtube</a></span>
        </div>

        <div class="btn-small Green-bright-last">
          <span class="label bottom"></span>
        </div>

        <div class="btn-small Blue">
            <span class="label bottom"><a href="https://twitter.com/pagh_of">TWITTER</a></span>
        </div>

        <div class="btn-small Red-light">
          <span class="label bottom"><a href="https://www.instagram.com/houstonpagh/">INSTAGRAM</a></span>
        </div>

        <div class="btn-small Blue-nav">
          <span class="label bottom"><a href="https://www.facebook.com/groups/HoustonPakistani/">FACEBOOK</a></span>
        </div>

        <div class="btn-small Redish">
          <span class="label bottom"> </span>
        </div>

        <div class="btn-weather">

          <a class="weatherwidget-io" href="https://forecast7.com/en/29d76n95d37/houston/?unit=us" data-label_1="HOUSTON ,TX" data-label_2="WEATHER" data-font="Trebuchet MS" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="weather_one" >HOUSTON ,TX WEATHER</a>
          <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
          </script>

        </div>

        <div class="btn-big Yellow">
          <span class="label bottom"><a href="admin/login">LOGIN</a></span>
        </div>

      </div>
    </div>

    </div>


  </div>
</div>


</body>
</html>